@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../images/cover.png'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* background-color: #ffe790; */
}

.board {
    text-align: center;
    background-color: #04852b;
    padding: 20px 20px;
    border-radius: 10px;
    height: 70vh;
    width: 50%;
    opacity: .9;
}

.board .leaderboard{
    margin-bottom: 1em;

}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info{
   /* padding: 1em; */
   width: 80%;
}

.text-dark{
    color: var(--color-dark);
}

.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    /* background-color: #ffffff; */
    color: #000000;
}

.year_rank{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table{
    height: 300px;
    overflow-y: scroll;
}

.rank_padding{
    padding-right: 10px;
}

.rank_title{
    padding-right: 10px;
}